asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.6
Django==5.2
django-allauth==65.15.1
django-unfold==0.87.0
djangorestframework==3.17.1
idna==3.11
pycparser==3.0
PyJWT==2.12.1
psycopg2-binary==2.9.12
python-decouple==3.8
requests==2.33.1
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
